.widthLimit {
    width: max-content;
    min-width: 35%;
}

.rowHeader {
    font-weight: 700;
    background-color: #f7f7f7;
}

.errorAlignment {
    vertical-align: top;
}

/* if we use rvt-display-none, the spinning icon does not show up in buttons */
.hideMe {
    display: none;
}